[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
itsdangerous = "*"
python-dotenv = "*"
six = "*"
Flask = "*"
Flask-Cors = "*"
Flask-DotEnv = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
pymysql = "*"
cryptography = "*"
flask-restx = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
